@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
}

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
}

body {
  background-color: black;
  color: white;
}
